<div class="row">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <p class="fw-light fs-18">
      I am a Software Engineer based out of India currently working for
      <a href="https://www.walmart.com/"><u>@Walmart</u>,</a>
      I usually like spending weekends on my computer but sometimes going out on 
      <a href="https://www.instagram.com/p/CUDONILhM6a/"><u>hikes</u></a>
      or long runs is my alternate adventure.
    </p>
  </div>
</div>

<div class="row">
  <div class="column">
    <%- partial('partial/projects') %>
  </div>
</div>

<div class="row">
  <div class="column">
    <p class="home fs-18">My latest articles</p>
  </div>
</div>

<% site.posts.sort('date', 'desc' ).limit(theme.max_post).forEach(function(post){ %>
  <div class="post">
    <div class=" post-name">
      <a href="<%- url_for(post.path) %>">
        <% if (post.title=="" ) { %>
          no title
          <% } else { %>
            <%- post.title %>
              <% } %>
      </a>
      <div class="post-description">
        <p class="bottom">
          <%- post.description %>
        </p>
      </div>
      <div class="post-details">
        <p class="bottom">
          <%- full_date(post.date, 'll' ) %> · <%- post.readtime %> min read
        </p>
      </div>
    </div>
    <!-- <% if (post.profileimage === true) { %>
      <div>
        <img class="post-image" src="<%-post.path%>profile.jpeg">
      </div>
    <% } %> -->
  </div>
  <% }) %>

    <!-- <h4> <a href="<%= config.root %>archives">All Posts</a></h4> -->