<div class="row">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <h2 class="mb-2">
      <%= theme.owner %>
    </h2>
    <p>
      <%= theme.info %>
    </p>
    <p>
      <%= theme.desc %>
    </p>
  </div>
</div>

<% site.posts.sort('date', 'desc' ).limit(theme.max_post).forEach(function(post){ %>
  <div class="post">
    <div class=" post-name">
      <a href="<%- url_for(post.path) %>">
        <% if (post.title=="" ) { %>
          no title
          <% } else { %>
            <%- post.title %>
              <% } %>
      </a>
      <div class="post-description">
        <p class="bottom">
          <%- post.description %> ...
        </p>
      </div>
      <div class="post-details">
        <p class="bottom">
          <%- full_date(post.date, 'll' ) %> · <%- post.readtime %> min read
        </p>
      </div>
    </div>
    <div>
      <img class="post-image" src="<%-post.path%>profile.jpeg">
    </div>
  </div>
  <% }) %>

    <!-- <h4> <a href="<%= config.root %>archives">All Posts</a></h4> -->